apiVersion: apps/v1
kind: Deployment
metadata:
 name: vue-app
spec:
 replicas: 2
 selector:
   matchLabels:
     app: vue-app
 template:
   metadata:
     labels:
       app: vue-app
   spec:
     containers:
     - name: vue-container
       image: docker.io/khushbooag4/argocd-repo:latest
       ports:
       - containerPort: 80
