apiVersion: apps/v1
kind: Deployment
metadata:
 name: vue-app
spec:
 replicas: 10
 selector:
   matchLabels:
     app: vue-app
 template:
   metadata:
     labels:
       app: vue-app
   spec:
     containers:
     - name: vue-container
       image: docker.io/khushbooag4/argocd-repo:v2
       ports:
       - containerPort: 80
       resources:
         requests:
            memory: "16Mi" 
            cpu: "0.5"    
         limits:
            memory: "128Mi"
            cpu: "1"
